#revoke-access-button{
    display: none;
}
.mails{
    background-color: rgb(250, 245, 245);
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
}
.compose-btn{
    float: right;
}

.fromaddress{
    color: gray;
    display: inline-grid;
    width: 20%;
    word-break: break-all;
}
.mailsubject{
    font-weight: bold;
    display: inline-grid;
    width: 58%;
    overflow: hidden;
}

.messagedate{
    color: gray;
    display: inline-grid;
    width: 20%;
    overflow: hidden;
}
.starred{
    border: 1px solid black;
    /* text-align: center; */
    padding: 5px;
}