#revoke-access-button{
    display: none;
}
.mails{
    background-color: rgb(250, 245, 245);
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
}
.compose-btn{
    float: right;
}

.formaddress{
    color: gray;
}
.mailsubject{
    font-weight: bold;
}

.messagedate{
    color: gray;
}
.starred{
    border: 1px solid black;
}