#revoke-access-button{
    display: none;
}
.mails{
    background-color: rgb(250, 245, 245);
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
}
.compose-btn{
    float: right;
}

.fromaddress{
    display: inline-grid;
    width: 20%;
    word-break: break-all;
    font-weight: bold;
}
.mailsubject{
    font-weight: bold;
    display: inline-grid;
    width: 63%;
    height: 50px;
    
    overflow-y: hidden;
}

.messagedate{
    display: inline-grid;
    width: 15%;
    font-weight: bold;
    float: right;
}
.snippet{
    font-weight: lighter;
    color: gray;
}
.starred{
    border: 1px solid black;
    /* text-align: center; */
    padding: 5px;
    margin: 2%;
    
}
.attachment{
    text-align: center;
    height: 30px;
    width: 30px;
    overflow: hidden;
    background-color: gray;
    color: red;
}